{{ header }}
<style>
.main_full_width_container {
    background-image: url("{{base_url}}{{content.image}}");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #fff;
    height: 196vh;
}
.main_full_width_container p {
    color: #FFF;
    font-size: 14px;
    line-height: 18px;
}
.main_continer {
    text-align: center;
    font-size: 13px;
}
</style>

 
<div class="main_full_width_container" style="padding: 0;">

    <div style="height: 155vh;overflow-y: scroll;padding-top: 401px;">

        {{content.sec_1_description}}
        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

        {{content.sec_2_description}}
        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

        {{content.sec_3_description}}
        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    
    </div>

</div>

{{ footer }}